body {
    padding-top: 50px;
    font-family: 'Noto Sans';
}

html {
    position: relative;
    min-height: 100%;
}

img {
    border: 0;
    max-width: 90%;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 3px
}

.divmargin {
    margin-top: 10px;
    margin-bottom: 20px;
}

.center-col {
    margin: 0 auto;
    float: none;
}

.silver-color {
    color: #808080;
}

.footer {
    background-color: #222;
    color: #808080;
    bottom: 0;
    width: 100%;
    min-height: 120px;
    position: relative;
    clear: both;
    padding-top: 20px;
}