body {
    padding-top: 50px;
    font-family: 'Noto Sans';
}

img {
    border: 0;
    max-width: 90%;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 3px
}

.divmargin {
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-black {
    background-color: #222;
    border-color: #080808;
    height: 60px;
}

.center-col {
    margin: 0 auto;
    float: none;
}